.person_info_style{
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    padding: 1px;
}
.homeworld_info_style{
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    padding: 1px;

}
.starships_info_style{
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    padding: 1px;
 
}
.vehicles_info_style{
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    padding: 1px;
}
.films_info_style{
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    padding: 1px;
}
button{
    text-align: center;
    padding: 5px;
    width: 250px;
    height: 50px;
    margin-bottom: 50px;
}
body{
    text-align: center;
}